---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>

  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    
    <p class="meta">
    {{ page.date | date: "%Y-%m-%d" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>

  <section class="post-content">
    {{ content }}

    <ul class="pager">
      {% if page.previous.url %}
      <li class="previous">
        <a href="{{ site.baseurl }}{{page.previous.url}}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; 上一篇</a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{page.next.url}}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">下一篇 &rarr;</a>
      </li>
      {% endif %}
    </ul>
  </section>

  <!-- Disqus -->
  {% if site.theme.disqus_shortname %}
    <section class="comments">
      {% include disqus.html %}
    </section>
  {% endif %}
  
</article>